.footer-admin{
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #cccc;
    border-radius: 9px;
    background-color: #ccc;
    font-weight: bold;
    cursor: default;
}