@media (max-width: 991px) {
    .content-box .home-admin .modal-add .modal-add-content{
        width: 348px;
        text-align: center;
    }

    .content-box .home-admin .listImage{
        bottom: 120px;
        left: 40px;
    }

    .content-box .home-admin .select-option-bg span{
        top: -15px;
        right: -20px;
    }
    .content-box .home-admin .closelistimage{
        bottom: 425px;
        left: 325px;
    }
}

@media (min-width: 992px) {
   
}