@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    background-color: white;
    color: black;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .left{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 60%;
            height: 100%;
        }
    }
    
    .right{
        flex: 1;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top-name{
            .name-c{
                font-size: 30px;
                font-weight: bold;
            }
            .name-u{
                font-size: 20px;
            }
        }

        .language{
            font-size: 20px;

            b{
                color: red;
            }

            .language-vi{
                color: blue;
                margin-left: 10px;
                cursor: pointer;
            }

            .language-en{
                margin-left: 5px;
                color: green;
                cursor: pointer;
            }

            i{
                margin-left: 10px;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    color: blue;
                }
            }
        }
    }


}

