@media screen and (max-width: 1024px) {
    
    .header-container .left{
        width: 45%;
    }

    .header-container .right {
        .top-name{
            display: none;
        }

        .language{
            font-size: 14px;
    
            .welcome {
                display: block;
                font-size: 14px;
                b{
                    display: block;
                }
            }
    
            .language-vi{
                margin-left: 0;
            }
        
        }
    }

    .system-nav{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    
}